* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.05);
}

h2 {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
}

input:focus {
  border-color: #00f2fe;
  box-shadow: 0 0 10px rgba(0, 242, 254, 0.6);
}

button {
  width: 100%;
  padding: 15px;
  background-color: #579cef;
  color: #0b0909;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #4f5bfe;
}

p {
  margin-top: 20px;
  font-size: 1rem;
}

a {
  color: #ffeb3b;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff9800;
}

@media (max-width: 480px) {
  .container {
      padding: 30px;
      max-width: 350px;
  }

  h2 {
      font-size: 1.8rem;
  }

  button {
      font-size: 1rem;
  }

  input {
      font-size: 0.9rem;
  }
}