body {
    font-family: Arial, sans-serif;
    background-color: #2d0909;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgba(217, 213, 231, 0.612);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size:xx-large;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 13px;
    border: none solid ;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size:larger;
}

button:hover {
    background-color: #4a12cb;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    border-bottom: 1px solid #e12222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #dc3545;
    border: none;
    color: rgb(186, 177, 177);
    border-radius: 10px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}

li.done {
    text-decoration: line-through;
    color: #6c757d;
}

li.done button {
    background-color: #ffc107;
}

li.done button:hover {
    background-color: #e0a800;
}


